<div id="formNameArea"></div>
<div class="d-flex gap-4">
  <form name="userform1">
    <div>UserForm 1</div>
    <label for="name">姓名:</label>
    <input type="text" id="name" name="name" /><br /><br />

    <label for="age">年龄:</label>
    <input type="number" id="age" name="age" /><br /><br />

    <label for="address">地址:</label>
    <input type="text" id="address" name="address" /><br /><br />

    <button type="submit" tabindex="0">确定</button>
    <button type="reset" tabindex="-1">取消</button>
  </form>

  <form name="userform2">
    <div>UserForm 2</div>
    <label for="name">姓名:</label>
    <input type="text" id="name" name="name" /><br /><br />

    <label for="age">年龄:</label>
    <input type="number" id="age" name="age" /><br /><br />

    <label for="address">地址:</label>
    <input type="text" id="address" name="address" /><br /><br />

    <button type="submit" tabindex="0">确定</button>
    <button type="reset" tabindex="-1">取消</button>
  </form>
</div>
